{% if bip is undefined %}{% set bip = false %}{% endif %}
{% if bip and contiguous is undefined %}{% set contiguous = true %}{% endif %}
{% if contiguous is undefined %}{% set contiguous = false %}{% endif %}
{% if N is undefined %}
  {% if storage == "array" %}
    {% set N = true %}
  {% else %}
    {% set N = false %}
  {% endif %}
{% endif %}
{##}
{% if N %}
  {% set params = "T, const N: usize" %}
  {% set args = "T, N" %}
  {% set tick_blank = "'_, N" %}
{% else %}
  {% set params = "T" %}
  {% set args = "T" %}
  {% set tick_blank = "'_" %}
{% endif %}
{##}
{% macro CachePadded(arg) %}
{% if padded %}CachePadded<{{ arg }}>{% else %}{{ arg }}{% endif %}
{% endmacro %}
{##}
{% macro CachePadded_new(arg) %}
{% if padded %}CachePadded::new({{ arg }}){% else %}{{ arg }}{% endif %}
{% endmacro %}
{##}
{% macro doctest_create_ring_buffer(capacity) %}
{% if N %}{% if arc %}
    /// let (mut p, mut c) = RingBuffer::<_, {{ capacity }}>::new();
{% else %}
    /// let rb = RingBuffer::<_, {{ capacity }}>::new();
    /// let mut p = rb.producer().unwrap();
    /// let mut c = rb.consumer().unwrap();
{% endif %}{% else %}{% if arc %}
    /// let (mut p, mut c) = RingBuffer::new({{ capacity }});
{% else %}
    /// let rb = RingBuffer::new({{ capacity }});
    /// let mut p = rb.producer().unwrap();
    /// let mut c = rb.consumer().unwrap();
{% endif %}{% endif %}
{% endmacro %}
