{% if bip is undefined %}{% set bip = false %}{% endif %}
{% if bip and contiguous is undefined %}{% set contiguous = true %}{% endif %}
{% if contiguous is undefined %}{% set contiguous = false %}{% endif %}
{% set module_path %}rtrb::{{ module_name }}{% endset %}
{% if N is undefined %}
  {% if storage == "array" %}
    {% set N = true %}
  {% else %}
    {% set N = false %}
  {% endif %}
{% endif %}
{##}
{% if N %}
  {% set N_param = ", const N: usize" %}
  {% set N_arg = ", N" %}
  {% set self = "self.0" %}
{% else %}
  {% set N_param = "" %}
  {% set N_arg = "" %}
  {% set self = "self" %}
{% endif %}
{% if arc %}
  {% set arc_tick_a = "" %}
  {% set arc_tick_blank = "" %}
{% else %}
  {% set arc_tick_a = "'a, " %}
  {% set arc_tick_blank = "'_, " %}
{% endif %}
{##}
{% macro CachePadded(arg) %}
{% if padded %}CachePadded<{{ arg }}>{% else %}{{ arg }}{% endif %}
{% endmacro %}
{##}
{% macro CachePadded_new(arg) %}
{% if padded %}CachePadded::new({{ arg }}){% else %}{{ arg }}{% endif %}
{% endmacro %}
{##}
{% macro if_N(arg) %}
{% if N %}{{ arg }}{% else %}{% endif %}
{% endmacro %}
{##}
{% macro doctest_create_ring_buffer(capacity, prefix="    ///") %}
{% if N %}{% if arc %}
{{ prefix }} let (mut p, mut c) = RingBuffer::<_, {{ capacity }}>::new();
{%- else %}
{{ prefix }} let rb = RingBuffer::<_, {{ capacity }}>::new();
{{ prefix }} let mut p = rb.producer().unwrap();
{{ prefix }} let mut c = rb.consumer().unwrap();
{%- endif %}{% else %}{% if arc %}
{{ prefix }} let (mut p, mut c) = RingBuffer::new({{ capacity }});
{%- else %}
{{ prefix }} let rb = RingBuffer::new({{ capacity }});
{{ prefix }} let mut p = rb.producer().unwrap();
{{ prefix }} let mut c = rb.consumer().unwrap();
{%- endif %}{% endif %}
{%- endmacro %}
