*.rs.jinja linguist-language=Rust
/src/arc/** linguist-generated
/src/arc2/** linguist-generated
/src/array/** linguist-generated
/src/bip_arc/** linguist-generated
/src/bip_arc2/** linguist-generated
/src/bip_array/** linguist-generated
/src/embedded/** linguist-generated
/src/vrb_arc2/** linguist-generated
